## Dictionary (key:value)
- It is data type which store value in the form of key value pairs.
- key must  be unique but value can be duplicate
- key is immutable while values are mutable
- Dictionary is mutable
- Heterogenous objects are allowed for both key and value
- Declared by {'key':'value'}
- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [1]:
d={'one':10,'two':20,'three':30}

In [2]:
type(d)

dict

In [3]:
id(d)

2605735348672

In [4]:
d

{'one': 10, 'two': 20, 'three': 30}

In [5]:
len(d)

3

### Create dictionary

#### Empty dictionary

In [6]:
d1={}
d1

{}

In [7]:
type(d1)

dict

In [8]:
d2=dict()
d2

{}

In [9]:
type(d2)

dict

In [10]:
d

{'one': 10, 'two': 20, 'three': 30}

In [11]:
d.keys()

dict_keys(['one', 'two', 'three'])

In [12]:
d.values()

dict_values([10, 20, 30])

In [13]:
d.items()

dict_items([('one', 10), ('two', 20), ('three', 30)])

In [14]:
d3={'name':['shiv','riya','reena'],"class":[8,9,10],'marks':[56,78,89]}
d3

{'name': ['shiv', 'riya', 'reena'], 'class': [8, 9, 10], 'marks': [56, 78, 89]}

In [15]:
d3.values()

dict_values([['shiv', 'riya', 'reena'], [8, 9, 10], [56, 78, 89]])

In [16]:
d3.items()

dict_items([('name', ['shiv', 'riya', 'reena']), ('class', [8, 9, 10]), ('marks', [56, 78, 89])])

In [17]:
d3.keys()

dict_keys(['name', 'class', 'marks'])

In [18]:
d3

{'name': ['shiv', 'riya', 'reena'], 'class': [8, 9, 10], 'marks': [56, 78, 89]}

In [19]:
d3["marks"][0]

56

In [20]:
d3["marks"][1]

78

In [21]:
d3["name"]

['shiv', 'riya', 'reena']

In [22]:
d3["name"][2]

'reena'

In [23]:
d3[2][2]

KeyError: 2

In [24]:
x=d3.get("name")
x

['shiv', 'riya', 'reena']

#### Create a dictionary from a sequence of mixed keys

In [25]:
k={'a','b','c','d'}
d4=dict.fromkeys(k)
d4

{'a': None, 'b': None, 'd': None, 'c': None}

In [26]:
type(k)

set

In [27]:
type(d4)

dict

In [28]:
k={'a','b','c','d'}
v=89
d4=dict.fromkeys(k,v)
d4

{'a': 89, 'b': 89, 'd': 89, 'c': 89}

In [29]:
k={'d','l','n','a'}
v=[10,20,30,40]
d4=dict.fromkeys(k,v)
d4

{'a': [10, 20, 30, 40],
 'n': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'l': [10, 20, 30, 40]}

In [30]:
v.append(60)

In [31]:
d4

{'a': [10, 20, 30, 40, 60],
 'n': [10, 20, 30, 40, 60],
 'd': [10, 20, 30, 40, 60],
 'l': [10, 20, 30, 40, 60]}

In [32]:
k={56,89,9,87}
v=['divya','joy','shivi','kiran']
d5=dict.fromkeys(k,v)
d5

{56: ['divya', 'joy', 'shivi', 'kiran'],
 89: ['divya', 'joy', 'shivi', 'kiran'],
 9: ['divya', 'joy', 'shivi', 'kiran'],
 87: ['divya', 'joy', 'shivi', 'kiran']}

# Accessing items

In [33]:
d

{'one': 10, 'two': 20, 'three': 30}

In [34]:
d['two']

20

In [35]:
d.get('two')

20

In [ ]:
"""
1.sort a dictionary by value
2.add a key to a dictionary"""

### Change items of dictionary

In [36]:
d

{'one': 10, 'two': 20, 'three': 30}

In [37]:
d['one']=2017
d

{'one': 2017, 'two': 20, 'three': 30}

In [40]:
d['five']=89
d

{'one': 2017, 'two': 80, 'three': 30, 'four': 76, 'five': 89}

In [38]:
du={'two':80}
d.update(du)
d

{'one': 2017, 'two': 80, 'three': 30}

In [41]:
du={'four':76}
d.update(du)
d

{'one': 2017, 'two': 80, 'three': 30, 'four': 76, 'five': 89}

### Add key value in the dictionary

In [ ]:
d

In [ ]:
d['six']=89 
d

### Remove item from the dictionary

#### pop - The pop() method removes the item with the specified key name.

In [42]:
d

{'one': 2017, 'two': 80, 'three': 30, 'four': 76, 'five': 89}

In [43]:
d.pop('three')

30

In [44]:
d

{'one': 2017, 'two': 80, 'four': 76, 'five': 89}

#### popitem()-  The popitem() method removes the last inserted item.

In [45]:
d.popitem()

('five', 89)

In [46]:
d

{'one': 2017, 'two': 80, 'four': 76}

#### del -The del keyword removes the item with the specified key name.

In [47]:
del[d['one']]

In [48]:
d

{'two': 80, 'four': 76}

#### Clear - The clear method clears all the items of the dictionary.

In [49]:
d.clear()

In [50]:
d

{}

#### del -The del keyword can also delete the dictionary completely.

In [51]:
del d

In [52]:
d

NameError: name 'd' is not defined

### Copy dictionary

In [53]:
d={1:'divya',2:'shiv',3:"radha"}

In [54]:
id(d)

2605763430720

In [55]:
d1=d

In [56]:
d1

{1: 'divya', 2: 'shiv', 3: 'radha'}

In [57]:
id(d1)

2605763430720

In [58]:
d2=d.copy()

In [59]:
d2

{1: 'divya', 2: 'shiv', 3: 'radha'}

In [60]:
id(d2)

2605735316992

In [61]:
d3=dict(d)

In [62]:
d3

{1: 'divya', 2: 'shiv', 3: 'radha'}

In [63]:
id(d3)

2605763763904

### Dictionary membership